.IconsList {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.IconsList > div {
  margin-right: 27px;
}
.IconsList div > Img {
  width: 20px;
  cursor: pointer;
}
.IconsList div > Img:focus {
  background-color: red;
}
