.profileButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 187px;
    padding: 4px;
}
.link
{
    color: white;
    text-decoration: unset;
    
}
.mainPop{
    margin-top: 56px;
}
.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
}
.profilrContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.profileName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
}