.toolbar-content {
  color: black !important;
  background-color: white !important;
  box-shadow: none !important;
}
.menuBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  /* padding: 8px; */
  width: -webkit-fill-available;
}
.titleMenu {
  /* margin-left: 10px; */
  /* margin: 0px 40px 0px 10px; */
  color: #5f6368;
  font-size: 21px;
  width: 150px;
  max-width: 150px;
  display: inline-block;
  /* background-color: red; */
}
.menuBar div:nth-child(2) input {
  font-size: 17px;
  padding: 8px;
  color: black;
  /* width: 700px; */
  /* background-color: whitesmoke; */
  /* height: 3px; */
  outline: none;
}
.menuBar div:nth-child(3) {
  /* margin-left: 70px; */
  cursor: pointer;
  cursor: pointer;
  background-color: blue;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.searchSection {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 15px;
  background-color: whitesmoke;
  border-radius: 8px;
  height: 48px;
  place-content: start;
  width: 720px;
}

.searchSection div:focus {
  background-color: white !important;
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%) !important;
}

/* .mainDrawer {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; */
.mainDrawer {
  padding-top: 10px;
}
.mainDrawer div {
  /* width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; */
  padding-top: 6px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  /* height: 49px; */
  font-size: 0.875rem;
  font-weight: 500;
  color: #202124;
  text-transform: capitalize;
}
.mainDrawer > div div:focus {
  background-color: #feefc3;
}

.backColor {
  background-color: #feefc3;
  /* padding-bottom: 8px;
     */
  padding: 0px !important;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
.MuiList-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
header > div {
  padding: 0px;
}
.linkText{
  text-decoration: unset;
}
@media screen and (max-width: 1050px) {
  .searchSection {
    width: 550px;
  }
}

@media screen and (max-width: 900px) {
  .searchSection {
    width: 410px;
  }
  /* .menuBar div:nth-child(1) {
    font-size: 15px;
    width: 45px;
    max-width: 45px;
  } */
}
@media screen and (max-width: 710px) {
  .searchSection {
    width: 250px;
  }
}
@media screen and (max-width: 570px) {
  .titleMenu{
    font-size: 15px;
    width: 100px;
    max-width: 100px;
    display: inline-block;
  }
}
@media screen and (max-width: 500px) {
  .searchSection {
    width: 150px;
  }
  .titleMenu {
    font-size: 12px;
    width: 80px;
    max-width: 80px;
    display: inline-block;
  }
}
@media screen and (max-width: 605px) {
.makeStyles-drawerOpen-6 {
position: fixed;
z-index: 10;
}
}
/* .mainContentDash {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .mainContent:first-child {
 margin-bottom: 500px;
} */
/* .main-toolbar{
    width: 100%;
}
.mainSection{
    display: flex;
    flex-direction: column;
}
.Drawer-section{
    margin-top: 50px;
    background-color: red;
}
.sub-drawer{
    margin-top: 60px;
} */

/* .menuBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -webkit-fill-available;
}
.menuBar div:nth-child(1) {
  margin-left: 45px;
  color: #5f6368;
  font-size: 24px;
}
.menuBar div:nth-child(2) input {

  font-size: 17px;
  width: 700px;
  background-color: whitesmoke;
  height: 3px;
  outline: none;
}
.menuBar div:nth-child(2) input:focus {
  border: 1px solid transparent;
}
 */
