.confirm-button {
  display: flex;
  justify-content: flex-end;
  width: -webkit-fill-available;
}

.confirm-button Button {
  background-color: blue;
  color: white;
}
.confirm-button Button:focus {
  background-color: blue;
  color: white;
}
